 {% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
    <div class="col-md-4">
    {{ wtf.quick_form(add_checkbox, action=url_for('checkboxer', checkboxer=checkboxer.checkbox_list_title,
                                id=checkboxer.id)) }}

    </div>
    {% if not dynamic_checkbox_builder == None %}
<div class="col-md-4">

    {{ wtf.quick_form(dynamic_checkbox_builder) }}

    </div>
{% endif %}
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
    <script>
    document.addEventListener('click', function (e){

        if( e.target.type === 'checkbox'){
            console.log(e.target.id);
            let xhr = new XMLHttpRequest();
            let url = 'http://127.0.0.1:5000/js';
            xhr.open('POST', url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            var myData  = {'id':e.target.id, 'value':e.target.value}
            var data = JSON.stringify(myData);
            xhr.send(data);
        }
    });
    </script>


{% endblock %}
