 {% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
    <div class="col-md-4">
    {{ wtf.quick_form(add_checkbox, action=url_for('checkboxer', checkboxer=checkboxer.checkbox_list_title,
                                id=checkboxer.id)) }}

    </div>
    {% if not dynamic_checkbox_builder == None %}
<div class="col-md-4">

    {{ wtf.quick_form(dynamic_checkbox_builder) }}

    </div>
{% endif %}
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
    <script>
        $(function () {
    $(":checkbox").click(function (e) {
        mydata = {'id':e.target.id, 'instanse':$(e.target).prop('checked')}
        console.log(mydata)
       $.ajax({
	      method: "POST", // метод HTTP, используемый для запроса
	      url: "{{ url_for('js') }}", // строка, содержащая URL адрес, на который отправляется запрос
	      data: JSON.stringify(mydata),
	      success: [function ( msg ) { // функции обратного вызова, которые вызываются если AJAX запрос выполнится успешно (если несколько функций, то необходимо помещать их в массив)
	        $( "p" ).text( "User saved: " + msg ); // добавляем текстовую информацию и данные возвращенные с сервера
	      },
	      function () { // вызов второй функции из массива
	        console.log( "next function" );
	      },
          function(data){
       var json = $.parseJSON(data); // create an object with the key of the array
       console.log(json); // where html is the key of array that you want, $response['html'] = "<a>something..</a>";
    }
    ],
	      statusCode: {
	        200: function () { // выполнить функцию если код ответа HTTP 200
	          console.log( "Ok" );
	        }
	      }
	    })
	  });
	});


    </script>


{% endblock %}
